::-webkit-scrollbar {
  display: none;
}

#signIn-container {
  max-width: 500px;
  width: 100%;
  height: auto;
  padding: 20px 30px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#separator {
  width: 100%;
}

#signIn-headers-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#signIn-app-name {
  font-family: "Audiowide", sans-serif;
}

#signIn-header {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

#signIn-header:hover {
  text-decoration: underline;
}

#signIn-username-container {
  width: 100%;
  position: relative;
  display: flex;
}

#signIn-username-input {
  padding: 20px;
  margin-top: 15px;
  border-radius: 7px;
  border: 1px solid rgb(201, 201, 201);
  outline: none;
  height: 10px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  padding-right: 60px;
  font-size: 17px;
}

#signIn-user-icon {
  position: absolute;
  top: 40%;
  right: 3%;
  font-size: 25px;
}

#signIn-email-container{
  width: 100%;
  position: relative;
  display: flex;
}

#signIn-email-input{
  padding: 20px;
  margin-top: 15px;
  border-radius: 7px;
  border: 1px solid rgb(201, 201, 201);
  outline: none;
  height: 10px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  padding-right: 60px;
  font-size: 17px;
}

#signIn-email-icon{
  position: absolute;
  top: 40%;
  right: 3%;
  font-size: 25px;
}

#signIn-password-container{
  width: 100%;
  position: relative;
  display: flex;
}

#signIn-password-input{
  padding: 20px;
  margin-top: 15px;
  border-radius: 7px;
  border: 1px solid rgb(201, 201, 201);
  outline: none;
  height: 10px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  padding-right: 60px;
  font-size: 17px;
}

#signIn-lock-icon{
  position: absolute;
  top: 40%;
  right: 3%;
  font-size: 25px;
}

#signIn-lock-open-icon{
  position: absolute;
  top: 40%;
  right: 3%;
  font-size: 25px;
}

#signIn-btn{
  align-self: flex-end;
  width: 30%;
  height: 45px;
  margin: 20px 0;
  border-radius: 7px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(221, 221, 221);
  color: black;
  cursor: pointer;
  transition: all 0.5s;
  font-family: "Montserrat", sans-serif;
}

#signIn-btn:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.signIn-error{
  width: 100%;
  color: rgb(255, 112, 112);
  margin-top: 5px;
  margin-bottom: -7px;
  font-weight: 500;
  font-size: 18px;
  
}