@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.user-card {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 15px;
  background: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
  padding: 10px;
}

.user-box {
  background: #fff;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.user-content {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-content h2 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.user-content h2 hr{
  margin: 20px 0;
}

.user-content h2 span {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: orange;
  text-transform: initial;
}

.user-content ul {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 20px;
}

.user-content ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  color: #666;
  padding: 0 20px;
}

.user-content ul li span {
  font-size: 1.2em;
  color: #333;
  font-weight: 600;
}

.user-content ul li:not(:last-child) {
  border-right: 1px solid #ccc;
  padding-right: 20px;
  margin-right: 20px;
}
