::-webkit-scrollbar {
  display: none;
}

#registration-container {
  max-width: 500px;
  width: 100%;
  min-height: 400px;
  height: auto;
  padding: 30px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#separator {
  width: 100%;
}

#registration-headers-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

#registration-app-name {
  font-family: "Audiowide", sans-serif;
}

#registration-header {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

#registration-header:hover {
  text-decoration: underline;
}

#registration-name-surname-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-family: "Montserrat", sans-serif;
}

#registration-name-input {
  padding: 15px 20px;
  margin-top: 15px;
  border-radius: 7px;
  border: 1px solid rgb(201, 201, 201);
  outline: none;
  font-size: 17px;
  width: 50%;
  font-family: "Montserrat", sans-serif;
}

#registration-surname-input {
  padding: 15px 20px;
  margin-top: 15px;
  border-radius: 7px;
  border: 1px solid rgb(201, 201, 201);
  outline: none;
  font-size: 17px;
  width: 50%;
  font-family: "Montserrat", sans-serif;
}

#registration-username-container {
  width: 100%;
  position: relative;
  display: flex;
}

#registration-username-input {
  padding: 15px 20px;
  margin-top: 15px;
  border-radius: 7px;
  border: 1px solid rgb(201, 201, 201);
  outline: none;
  width: 100%;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  padding-right: 60px;
}

#registration-user-icon {
  position: absolute;
  top: 40%;
  right: 3%;
  font-size: 25px;
}

#registration-password_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-family: "Montserrat", sans-serif;
}

#registration-password-container,
#registration-repeatPassword-container {
  width: 50%;
  position: relative;
}

#registration-password-input,
#registration-repeat-password-input {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box; 
  padding: 15px 20px;
  padding-right: 55px; 
  margin-top: 15px;
  border-radius: 7px;
  border: 1px solid rgb(201, 201, 201);
  outline: none;
  font-size: 17px;
}

#registration-lock-icon,
#registration-lock-open-icon {
  cursor: pointer;
  position: absolute;
  top: 40%;
  right: 6%; /* Adjusted for better alignment */
  font-size: 25px; /* Adjusted for better alignment */
}

#registration-yeargroup-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-family: "Montserrat", sans-serif;
}

#registration-year-input {
  padding: 20px;
  margin-top: 15px;
  border-radius: 7px;
  border: 1px solid rgb(201, 201, 201);
  outline: none;
  height: 10px;
  font-size: 17px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

#registration-group-input {
  padding: 20px;
  margin-top: 15px;
  border-radius: 7px;
  border: 1px solid rgb(201, 201, 201);
  outline: none;
  height: 10px;
  font-size: 17px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

#registration-univercity-wrapper {
  margin-top: 20px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

#registration-univercity-choose-button {
  width: 100%;
  height: 55px;
  border-radius: 7px;
  border: none;
  outline: none;
  color: black;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

#registration-univercity-choose-button:hover {
  background-color: rgb(213, 213, 213);
}

#registration-univercities-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#registration-univercities-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  border-radius: 7px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

#registration-sign-in-button {
  align-self: flex-end;
  width: 30%;
  height: 45px;
  margin: 20px 0;
  border-radius: 7px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(221, 221, 221);
  color: black;
  cursor: pointer;
  transition: all 0.5s;
  font-family: "Montserrat", sans-serif;
}

#registration-sign-in-button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

#registration-emailphone-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-family: "Montserrat", sans-serif;
}

#registration-email-container,
#registration-phone-container {
  width: 50%;
  position: relative;
}

#registration-email-icon,
#registration-phone-icon {
  position: absolute;
  top: 40%;
  right: 6%; 
  font-size: 25px; 
}

#registration-email-input {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  padding: 15px 20px;
  padding-right: 55px;
  margin-top: 15px;
  border-radius: 7px;
  border: 1px solid rgb(201, 201, 201);
  outline: none;
  font-size: 17px;
}

#registration-phone-input {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  padding: 15px 20px;
  padding-right: 55px;
  margin-top: 15px;
  border-radius: 7px;
  border: 1px solid rgb(201, 201, 201);
  outline: none;
  font-size: 17px;
}

#registration-error-wrapper {
  width: 100%;
  display: flex;
  gap: 15px;
}

.registration-error {
  color: rgb(255, 122, 122);
  margin-top: 5px;
  font-weight: 500;
  width: 50%;
}

.username-registration-error {
  color: rgb(255, 122, 122);
  margin-top: 5px;
  font-weight: 500;
  width: 100%;
}
