#user-page-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background: #f4f2ef;
  height: 100%;
  width: 300px;
}

#user-page-logo {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

#user-page-logo-name {
  margin-top: 30px;
  color: black;
  font-size: 22px;
  font-weight: 800;
  font-family: "Audiowide", sans-serif;
}

#user-page-nav-links {
  height: 100%;
  padding-top: 30px;
}

#user-page-nav-link {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

#user-page-nav-link:hover {
  background: #d6d5d2;
}

.user-page-icon-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-page-icon-links i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #213e60;
  font-size: 25px;
}

.user-page-icon-links a {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.user-page-icon-links .link-name {
  color: #213e60;
  font-weight: 500;
}

#user-page-content{
    padding: 20px;
    max-width: 1130px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
